:root {
    --grisclair : #FFFDF4;
    --orange : #F5B400;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

p {
    padding-bottom: 0.5rem;
}

img {
    width: 300px;
}

.info-film-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 3rem 0;
}

